.figure {
    &--I {
        fill: cyan;
    }
    &--O {
        fill: yellow;
    }
    &--T {
        fill: purple;
    }
    &--S {
        fill: green;
    }
    &--Z {
        fill: red;
    }
    &--J {
        fill: blue;
    }
    &--L {
        fill: orange;
    }
}